doctype html
include includes/head.pug
body
    include includes/nav.pug
    #content
        span.header
            h1 Error 404
            p Página no encontrada
        a.button(href='javascript:history.back()') Volver
        a.button(href='/') Inicio