doctype html
include includes/head.pug
body
    include includes/nav.pug
    #content
        h1 Sobre
        p.smallwidth
            | Es to es una lista de Bots de Discord hecha por nuestra comunidad
            |  , cualquier duda, consulta, bug u error,
            a(href='https://dsc.gg/teamgamer')  unete a nuestro discord 
            |  para ser atendido cuanto antes
        br
        a#back.button(href='javascript:history.back()') Volver