doctype html
include includes/head.pug
body
    include includes/nav.pug
    #content
        span.header
            h1 Éxito
            p Ha agregado su bot a la lista. Espere a que se verifique.
        a.button(href='javascript:history.back()') Volver
        a.button(href='/') Inicio